@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');

html {
    background: url("/background.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: 'Anybody', cursive;


}

#difficulty-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}


button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    width: 300px;
}

#title {
    text-align: center;
    font-size: 32px;
    color: #3498db;
}

#username-form {
    text-align: center;
    margin-top: 20px;
}

#easy {
    background-color: green;

}

#medium {
    background-color: orange;

}

#hard {
    background-color: red;
}

.info {
    text-align: center;
}

#score,
#remaining,
#user-div {
    display: none;
}

#quiz-container {
    width: 100%;
}

#quiz-questions {
    text-align: center;
}

#quiz-answers {
    text-align: center;
}
#leaderboard{
    display: none;
    color: white;
}